
<div *ngIf="juridiction">
    <h2><span jhiTranslate="jestimeApp.juridiction.detail.title">Juridiction</span> {{juridiction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.juridiction.code">Code</span></dt>
        <dd>
            <span>{{juridiction.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.juridiction.name">Name</span></dt>
        <dd>
            <span>{{juridiction.name}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.juridiction.image">Image</span></dt>
        <dd>
            <span>{{juridiction.image}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'juridiction/'+ juridiction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
