<div>
    <h2>
        <span jhiTranslate="jestimeApp.juridiction.home.title">Juridictions</span>
        <button class="btn btn-primary float-right jh-create-entity create-juridiction" [routerLink]="['/', { outlets: { popup: ['juridiction-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.juridiction.home.createLabel">
            Create new Juridiction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="juridictions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.juridiction.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.juridiction.name">Name</span></th>
            <th><span jhiTranslate="jestimeApp.juridiction.image">Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let juridiction of juridictions ;trackBy: trackId">
                <td><a [routerLink]="['../juridiction', juridiction.id ]">{{juridiction.id}}</a></td>
                <td>{{juridiction.code}}</td>
                <td>{{juridiction.name}}</td>
                <td>{{juridiction.image}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../juridiction', juridiction.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'juridiction/'+ juridiction.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'juridiction/'+ juridiction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
