<div>
    <h2>
        <span jhiTranslate="jestimeApp.reference.home.title">References</span>
        <button class="btn btn-primary float-right jh-create-entity create-reference" [routerLink]="['/', { outlets: { popup: ['reference-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.reference.home.createLabel">
            Create new Reference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="references">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.reference.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.reference.title">Title</span></th>
            <th><span jhiTranslate="jestimeApp.reference.source">Source</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reference of references ;trackBy: trackId">
                <td><a [routerLink]="['../reference', reference.id ]">{{reference.id}}</a></td>
                <td>{{reference.code}}</td>
                <td>{{reference.title}}</td>
                <td>
                    <div *ngIf="reference.sourceId">
                        <a [routerLink]="['../source', reference.sourceId  ]" >{{reference.sourceTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reference', reference.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reference/'+ reference.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reference/'+ reference.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
