
<div *ngIf="reference">
    <h2><span jhiTranslate="jestimeApp.reference.detail.title">Reference</span> {{reference.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.reference.code">Code</span></dt>
        <dd>
            <span>{{reference.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.reference.title">Title</span></dt>
        <dd>
            <span>{{reference.title}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.reference.source">Source</span></dt>
        <dd>
            <div *ngIf="reference.sourceId">
                <a [routerLink]="['/source', reference.sourceId]">{{reference.sourceTitle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reference/'+ reference.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
