<div>
    <h2>
        <span jhiTranslate="jestimeApp.socialCard.home.title">Social Cards</span>
        <button class="btn btn-primary float-right jh-create-entity create-social-card" [routerLink]="['/', { outlets: { popup: ['social-card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.socialCard.home.createLabel">
            Create new Social Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="socialCards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.title">Title</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.general">General</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.procedure">Procedure</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.recourse">Recourse</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.editDate">Edit Date</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.juridiction">Juridiction</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.parentSocialCard">Parent Social Card</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.category">Category</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.addresses">Addresses</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.creator">Creator</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.updator">Updator</span></th>
            <th><span jhiTranslate="jestimeApp.socialCard.sources">Sources</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let socialCard of socialCards ;trackBy: trackId">
                <td><a [routerLink]="['../social-card', socialCard.id ]">{{socialCard.id}}</a></td>
                <td>{{socialCard.code}}</td>
                <td>{{socialCard.title}}</td>
                <td>{{socialCard.description}}</td>
                <td>{{socialCard.general}}</td>
                <td>{{socialCard.procedure}}</td>
                <td>{{socialCard.recourse}}</td>
                <td>{{socialCard.creationDate | date:'mediumDate'}}</td>
                <td>{{socialCard.editDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="socialCard.juridictionId">
                        <a [routerLink]="['../juridiction', socialCard.juridictionId  ]" >{{socialCard.juridictionName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="socialCard.parentSocialCardId">
                        <a [routerLink]="['../social-card', socialCard.parentSocialCardId  ]" >{{socialCard.parentSocialCardTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="socialCard.categoryId">
                        <a [routerLink]="['../category', socialCard.categoryId  ]" >{{socialCard.categoryName}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let addresses of socialCard.addresses; let last = last">
                            <a class="form-control-static" [routerLink]="['../address', addresses?.id ]">{{addresses.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    {{socialCard.creatorLogin}}
                </td>
                <td>
                    {{socialCard.updatorLogin}}
                </td>
                <td>
                    <span *ngFor="let sources of socialCard.sources; let last = last">
                            <a class="form-control-static" [routerLink]="['../source', sources?.id ]">{{sources.title}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../social-card', socialCard.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'social-card/'+ socialCard.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'social-card/'+ socialCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
