<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySocialCardLabel" jhiTranslate="jestimeApp.socialCard.home.createOrEditLabel">Create or edit a Social Card</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!socialCard.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="socialCard.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="socialCard.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="socialCard.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="socialCard.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.general" for="field_general">General</label>
            <input type="text" class="form-control" name="general" id="field_general"
                [(ngModel)]="socialCard.general" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.procedure" for="field_procedure">Procedure</label>
            <input type="text" class="form-control" name="procedure" id="field_procedure"
                [(ngModel)]="socialCard.procedure" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.recourse" for="field_recourse">Recourse</label>
            <input type="text" class="form-control" name="recourse" id="field_recourse"
                [(ngModel)]="socialCard.recourse" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="socialCard.creationDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.editDate" for="field_editDate">Edit Date</label>
            <div class="input-group">
                <input id="field_editDate" type="text" class="form-control" name="editDate" ngbDatepicker  #editDateDp="ngbDatepicker" [(ngModel)]="socialCard.editDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="editDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="field_juridiction">Juridiction</label>
            <select class="form-control" id="field_juridiction" name="juridiction" [(ngModel)]="socialCard.juridictionId"  required>
                <option *ngIf="!editForm.value.juridiction" [ngValue]="null" selected></option>
                <option [ngValue]="juridictionOption.id" *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById">{{juridictionOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.juridiction?.dirty && editForm.controls.juridiction?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.juridiction?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.parentSocialCard" for="field_parentSocialCard">Parent Social Card</label>
            <select class="form-control" id="field_parentSocialCard" name="parentSocialCard" [(ngModel)]="socialCard.parentSocialCardId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="socialCardOption.id" *ngFor="let socialCardOption of socialcards; trackBy: trackSocialCardById">{{socialCardOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="socialCard.categoryId"  required>
                <option *ngIf="!editForm.value.category" [ngValue]="null" selected></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="jestimeApp.socialCard.addresses" for="field_addresses">Addresses</label>
            <select class="form-control" id="field_addresses" multiple name="addresses" [(ngModel)]="socialCard.addresses">
                <option [ngValue]="getSelected(socialCard.addresses, addressOption)" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="socialCard.creatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.updator" for="field_updator">Updator</label>
            <select class="form-control" id="field_updator" name="updator" [(ngModel)]="socialCard.updatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jestimeApp.socialCard.sources" for="field_sources">Sources</label>
            <select class="form-control" id="field_sources" multiple name="sources" [(ngModel)]="socialCard.sources">
                <option [ngValue]="getSelected(socialCard.sources, sourceOption)" *ngFor="let sourceOption of sources; trackBy: trackSourceById">{{sourceOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
