
<div *ngIf="socialCard">
    <h2>{{socialCard.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.socialCard.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{socialCard.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.creator">Creator</span></dt>
        <dd>
            {{socialCard.creatorLogin}}
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.editDate">Edit Date</span></dt>
        <dd>
            <span>{{socialCard.editDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.updator">Updator</span></dt>
        <dd>
            {{socialCard.updatorLogin}}
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.code">Code</span></dt>
        <dd>
            <span>{{socialCard.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.title">Title</span></dt>
        <dd>
            <span>{{socialCard.title}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.description">Description</span></dt>
        <dd>
            <span>{{socialCard.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.general">General</span></dt>
        <dd>
            <span>{{socialCard.general}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.procedure">Procedure</span></dt>
        <dd>
            <span>{{socialCard.procedure}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.recourse">Recourse</span></dt>
        <dd>
            <span>{{socialCard.recourse}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.juridiction">Juridiction</span></dt>
        <dd>
            <div *ngIf="socialCard.juridictionId">
                <a [routerLink]="['/juridiction', socialCard.juridictionId]">{{socialCard.juridictionName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.parentSocialCard">Parent Social Card</span></dt>
        <dd>
            <div *ngIf="socialCard.parentSocialCardId">
                <a [routerLink]="['/social-card', socialCard.parentSocialCardId]">{{socialCard.parentSocialCardTitle}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.category">Category</span></dt>
        <dd>
            <div *ngIf="socialCard.categoryId">
                <a [routerLink]="['/category', socialCard.categoryId]">{{socialCard.categoryName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.addresses">Addresses</span></dt>
        <dd>
            <table *ngIf="socialCard.addresses.length > 0" class="table-striped table">
                <thead>
                <tr>
                    <th jhiTranslate="jestimeApp.address.name"></th>
                    <th jhiTranslate="jestimeApp.address.location"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let address of socialCard.addresses">
                    <td>{{address.name}}</td>
                    <td>{{address.location}}</td>
                </tr>
                </tbody>
            </table>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.sources">Sources</span></dt>
        <dd>
            <table *ngIf="socialCard.sources.length > 0" class="table table-striped">
                <thead>
                <tr>
                    <th jhiTranslate="jestimeApp.source.title"></th>
                    <th jhiTranslate="jestimeApp.source.juridiction"></th>
                    <th jhiTranslate="jestimeApp.source.url"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let source of socialCard.sources;">
                    <td>{{source.title}}</td>
                    <td>{{source.juridictionName}}</td>
                    <td><a href="{{source.url}}" target="_blank">{{source.url}}</a></td>
                </tr>
                </tbody>
            </table>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCard.conditions">Conditions d'octroi</span></dt>
        <dd>
            <div *ngFor="let condition of socialCard.conditions; let i = index">
                <p><strong>Condition n°{{i + 1}}</strong></p>
                <p>{{condition.description}}</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                        <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                        <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                        <th jhiTranslate="jestimeApp.conditionValue.source">Source juridique</th>
                        <th jhiTranslate="jestimeApp.conditionValue.reference">Référence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let val of condition.conditionValues">
                        <td>{{val.variableName}}</td>
                        <td>{{val.operatorName}}</td>
                        <td>{{val.value}}</td>
                        <td>{{val.reference.sourceTitle}}</td>
                        <td *ngIf="val.reference.sourceUrl"><a href="{{val.reference.sourceUrl}}" target="_blank">{{val.referenceTitle}}</a></td>
                        <td *ngIf="!val.reference.sourceUrl">{{val.referenceTitle}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'social-card/'+ socialCard.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
