<div>
    <h2>
        <span jhiTranslate="jestimeApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/', { outlets: { popup: ['address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.address.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.address.name">Name</span></th>
            <th><span jhiTranslate="jestimeApp.address.location">Location</span></th>
            <th><span jhiTranslate="jestimeApp.address.phone">Phone</span></th>
            <th><span jhiTranslate="jestimeApp.address.fax">Fax</span></th>
            <th><span jhiTranslate="jestimeApp.address.email">Email</span></th>
            <th><span jhiTranslate="jestimeApp.address.website">Website</span></th>
            <th><span jhiTranslate="jestimeApp.address.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jestimeApp.address.editionDate">Edition Date</span></th>
            <th><span jhiTranslate="jestimeApp.address.creator">Creator</span></th>
            <th><span jhiTranslate="jestimeApp.address.updator">Updator</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address', address.id ]">{{address.id}}</a></td>
                <td>{{address.code}}</td>
                <td>{{address.name}}</td>
                <td>{{address.location}}</td>
                <td>{{address.phone}}</td>
                <td>{{address.fax}}</td>
                <td>{{address.email}}</td>
                <td>{{address.website}}</td>
                <td>{{address.creationDate | date:'mediumDate'}}</td>
                <td>{{address.editionDate | date:'mediumDate'}}</td>
                <td>
                    {{address.creatorLogin}}
                </td>
                <td>
                    {{address.updatorLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
