
<div *ngIf="address">
    <h2><span jhiTranslate="jestimeApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.address.code">Code</span></dt>
        <dd>
            <span>{{address.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.name">Name</span></dt>
        <dd>
            <span>{{address.name}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.location">Location</span></dt>
        <dd>
            <span>{{address.location}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.phone">Phone</span></dt>
        <dd>
            <span>{{address.phone}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.fax">Fax</span></dt>
        <dd>
            <span>{{address.fax}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.email">Email</span></dt>
        <dd>
            <span>{{address.email}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.website">Website</span></dt>
        <dd>
            <span>{{address.website}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{address.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.editionDate">Edition Date</span></dt>
        <dd>
            <span>{{address.editionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.creator">Creator</span></dt>
        <dd>
            {{address.creatorLogin}}
        </dd>
        <dt><span jhiTranslate="jestimeApp.address.updator">Updator</span></dt>
        <dd>
            {{address.updatorLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
