<div>
    <h2>
        <span jhiTranslate="jestimeApp.addressAudit.home.title">Address Audits</span>
        <button class="btn btn-primary float-right jh-create-entity create-address-audit" [routerLink]="['/', { outlets: { popup: ['address-audit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.addressAudit.home.createLabel">
            Create new Address Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addressAudits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.action">Action</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.actionDate">Action Date</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.actionUser">Action User</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.name">Name</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.location">Location</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.phone">Phone</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.fax">Fax</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.email">Email</span></th>
            <th><span jhiTranslate="jestimeApp.addressAudit.website">Website</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let addressAudit of addressAudits ;trackBy: trackId">
                <td><a [routerLink]="['../address-audit', addressAudit.id ]">{{addressAudit.id}}</a></td>
                <td>{{addressAudit.action}}</td>
                <td>{{addressAudit.actionDate | date:'mediumDate'}}</td>
                <td>{{addressAudit.actionUser}}</td>
                <td>{{addressAudit.code}}</td>
                <td>{{addressAudit.name}}</td>
                <td>{{addressAudit.location}}</td>
                <td>{{addressAudit.phone}}</td>
                <td>{{addressAudit.fax}}</td>
                <td>{{addressAudit.email}}</td>
                <td>{{addressAudit.website}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address-audit', addressAudit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-audit/'+ addressAudit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-audit/'+ addressAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
