<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressAuditLabel" jhiTranslate="jestimeApp.addressAudit.home.createOrEditLabel">Create or edit a Address Audit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!addressAudit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="addressAudit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                [(ngModel)]="addressAudit.action" required/>
            <div [hidden]="!(editForm.controls.action?.dirty && editForm.controls.action?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.action?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.actionDate" for="field_actionDate">Action Date</label>
            <div class="input-group">
                <input id="field_actionDate" type="text" class="form-control" name="actionDate" ngbDatepicker  #actionDateDp="ngbDatepicker" [(ngModel)]="addressAudit.actionDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="actionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.actionDate?.dirty && editForm.controls.actionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.actionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.actionUser" for="field_actionUser">Action User</label>
            <input type="number" class="form-control" name="actionUser" id="field_actionUser"
                [(ngModel)]="addressAudit.actionUser" required/>
            <div [hidden]="!(editForm.controls.actionUser?.dirty && editForm.controls.actionUser?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.actionUser?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.actionUser?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="addressAudit.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="addressAudit.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="addressAudit.location" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="addressAudit.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax"
                [(ngModel)]="addressAudit.fax" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="addressAudit.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.addressAudit.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                [(ngModel)]="addressAudit.website" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
