
<div *ngIf="addressAudit">
    <h2><span jhiTranslate="jestimeApp.addressAudit.detail.title">Address Audit</span> {{addressAudit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.addressAudit.action">Action</span></dt>
        <dd>
            <span>{{addressAudit.action}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.actionDate">Action Date</span></dt>
        <dd>
            <span>{{addressAudit.actionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.actionUser">Action User</span></dt>
        <dd>
            <span>{{addressAudit.actionUser}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.code">Code</span></dt>
        <dd>
            <span>{{addressAudit.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.name">Name</span></dt>
        <dd>
            <span>{{addressAudit.name}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.location">Location</span></dt>
        <dd>
            <span>{{addressAudit.location}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.phone">Phone</span></dt>
        <dd>
            <span>{{addressAudit.phone}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.fax">Fax</span></dt>
        <dd>
            <span>{{addressAudit.fax}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.email">Email</span></dt>
        <dd>
            <span>{{addressAudit.email}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.addressAudit.website">Website</span></dt>
        <dd>
            <span>{{addressAudit.website}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-audit/'+ addressAudit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
