
<div *ngIf="condition">
    <h2><span jhiTranslate="jestimeApp.condition.detail.title">Condition</span> {{condition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.condition.code">Code</span></dt>
        <dd>
            <span>{{condition.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.description">Description</span></dt>
        <dd>
            <span>{{condition.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{condition.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.editDate">Edit Date</span></dt>
        <dd>
            <span>{{condition.editDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.socialCard">Social Card</span></dt>
        <dd>
            <div *ngIf="condition.socialCardId">
                <a [routerLink]="['/social-card', condition.socialCardId]">{{condition.socialCardTitle}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.creator">Creator</span></dt>
        <dd>
            {{condition.creatorLogin}}
        </dd>
        <dt><span jhiTranslate="jestimeApp.condition.updator">Updator</span></dt>
        <dd>
            {{condition.updatorLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'condition/'+ condition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
