<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConditionLabel" jhiTranslate="jestimeApp.condition.home.createOrEditLabel">Create or edit a Condition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!condition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="condition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="condition.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="condition.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="condition.creationDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.editDate" for="field_editDate">Edit Date</label>
            <div class="input-group">
                <input id="field_editDate" type="text" class="form-control" name="editDate" ngbDatepicker  #editDateDp="ngbDatepicker" [(ngModel)]="condition.editDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="editDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.socialCard" for="field_socialCard">Social Card</label>
            <select class="form-control" id="field_socialCard" name="socialCard" [(ngModel)]="condition.socialCardId"  required>
                <option *ngIf="!editForm.value.socialCard" [ngValue]="null" selected></option>
                <option [ngValue]="socialCardOption.id" *ngFor="let socialCardOption of socialcards; trackBy: trackSocialCardById">{{socialCardOption.title}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.socialCard?.dirty && editForm.controls.socialCard?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.socialCard?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="condition.creatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.condition.updator" for="field_updator">Updator</label>
            <select class="form-control" id="field_updator" name="updator" [(ngModel)]="condition.updatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
