<div>
    <h2>
        <span jhiTranslate="jestimeApp.condition.home.title">Conditions</span>
        <button class="btn btn-primary float-right jh-create-entity create-condition" [routerLink]="['/', { outlets: { popup: ['condition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.condition.home.createLabel">
            Create new Condition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="conditions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.condition.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.condition.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.condition.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jestimeApp.condition.editDate">Edit Date</span></th>
            <th><span jhiTranslate="jestimeApp.condition.socialCard">Social Card</span></th>
            <th><span jhiTranslate="jestimeApp.condition.creator">Creator</span></th>
            <th><span jhiTranslate="jestimeApp.condition.updator">Updator</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let condition of conditions ;trackBy: trackId">
                <td><a [routerLink]="['../condition', condition.id ]">{{condition.id}}</a></td>
                <td>{{condition.code}}</td>
                <td>{{condition.description}}</td>
                <td>{{condition.creationDate | date:'mediumDate'}}</td>
                <td>{{condition.editDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="condition.socialCardId">
                        <a [routerLink]="['../social-card', condition.socialCardId  ]" >{{condition.socialCardTitle}}</a>
                    </div>
                </td>
                <td>
                    {{condition.creatorLogin}}
                </td>
                <td>
                    {{condition.updatorLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../condition', condition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'condition/'+ condition.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'condition/'+ condition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
