<div>
    <h2>
        <span jhiTranslate="jestimeApp.sourceAudit.home.title">Source Audits</span>
        <button class="btn btn-primary float-right jh-create-entity create-source-audit" [routerLink]="['/', { outlets: { popup: ['source-audit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.sourceAudit.home.createLabel">
            Create new Source Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sourceAudits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.action">Action</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.actionDate">Action Date</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.actionUser">Action User</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.title">Title</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.url">Url</span></th>
            <th><span jhiTranslate="jestimeApp.sourceAudit.juridictionId">Juridiction Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sourceAudit of sourceAudits ;trackBy: trackId">
                <td><a [routerLink]="['../source-audit', sourceAudit.id ]">{{sourceAudit.id}}</a></td>
                <td>{{sourceAudit.action}}</td>
                <td>{{sourceAudit.actionDate | date:'mediumDate'}}</td>
                <td>{{sourceAudit.actionUser}}</td>
                <td>{{sourceAudit.title}}</td>
                <td>{{sourceAudit.description}}</td>
                <td>{{sourceAudit.url}}</td>
                <td>{{sourceAudit.juridictionId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../source-audit', sourceAudit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source-audit/'+ sourceAudit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source-audit/'+ sourceAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
