
<div *ngIf="sourceAudit">
    <h2><span jhiTranslate="jestimeApp.sourceAudit.detail.title">Source Audit</span> {{sourceAudit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.sourceAudit.action">Action</span></dt>
        <dd>
            <span>{{sourceAudit.action}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.actionDate">Action Date</span></dt>
        <dd>
            <span>{{sourceAudit.actionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.actionUser">Action User</span></dt>
        <dd>
            <span>{{sourceAudit.actionUser}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.title">Title</span></dt>
        <dd>
            <span>{{sourceAudit.title}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.description">Description</span></dt>
        <dd>
            <span>{{sourceAudit.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.url">Url</span></dt>
        <dd>
            <span>{{sourceAudit.url}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.sourceAudit.juridictionId">Juridiction Id</span></dt>
        <dd>
            <span>{{sourceAudit.juridictionId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'source-audit/'+ sourceAudit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
