<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySourceAuditLabel" jhiTranslate="jestimeApp.sourceAudit.home.createOrEditLabel">Create or edit a Source Audit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sourceAudit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sourceAudit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                [(ngModel)]="sourceAudit.action" required/>
            <div [hidden]="!(editForm.controls.action?.dirty && editForm.controls.action?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.action?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.actionDate" for="field_actionDate">Action Date</label>
            <div class="input-group">
                <input id="field_actionDate" type="text" class="form-control" name="actionDate" ngbDatepicker  #actionDateDp="ngbDatepicker" [(ngModel)]="sourceAudit.actionDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="actionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.actionDate?.dirty && editForm.controls.actionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.actionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.actionUser" for="field_actionUser">Action User</label>
            <input type="text" class="form-control" name="actionUser" id="field_actionUser"
                [(ngModel)]="sourceAudit.actionUser" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="sourceAudit.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="sourceAudit.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="sourceAudit.url" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.sourceAudit.juridictionId" for="field_juridictionId">Juridiction Id</label>
            <input type="number" class="form-control" name="juridictionId" id="field_juridictionId"
                [(ngModel)]="sourceAudit.juridictionId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
