<div *ngIf="source">
    <jhi-alert></jhi-alert>
    <h1 mat-dialog-title>{{source.title}}</h1>
    <div mat-dialog-content>
        <div class="col-12">
            <label class="form-control-label" for="sourceTitle" jhiTranslate="jestimeApp.source.title">Titre</label>

            <div class="form-group">
                <mat-form-field>
                    <input matInput
                           id="sourceTitle"
                           class="form-control form-group"
                           name="sourceTitle"
                           [(ngModel)]="source.title">
                </mat-form-field>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="sourceJuridiction">Juridiction</label>
                <mat-form-field>
                    <select class="form-control" id="sourceJuridiction" name="sourceJuridiction" required [(ngModel)]="source.juridictionId">
                        <option *ngIf="!source.juridictionId" [ngValue]="null" selected></option>
                        <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption.id">{{juridictionOption.name}}</option>
                    </select>
                </mat-form-field>

            </div>
            <div class="form-group">
                <label class="form-control-label" for="sourceDescription" jhiTranslate="jestimeApp.source.description">Description</label>
                <mat-form-field>
                    <textarea matInput id="sourceDescription" name="sourceDescription" class="form-control" [(ngModel)]="source.description" ></textarea>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="sourceUrl" jhiTranslate="jestimeApp.source.url">URL</label>
                <mat-form-field>
                    <input matInput id="sourceUrl" name="sourceUrl" class="form-control" [(ngModel)]="source.url" />
                </mat-form-field>
            </div>

        </div>
        <div class="col-12 text-right form-group">
            <button class="btn btn-secondary" mat-button (click)="onNoClick()" jhiTranslate="entity.action.back">Fermer</button>
            <button type="button" (click)="save()" class="btn btn-success" jhiTranslate="entity.action.save">Enregistrer</button>
        </div>
    </div>


</div>
