<div *ngIf="source && creator">
    <div class="form-group col-12 text-right ">
        <button *ngIf="socialCards.length <= 0" (click)="openDeleteDialog()"  class="btn btn-danger" jhiTranslate="entity.action.delete">Supprimer</button>
        <button (click)="openDialog()" class="btn btn-primary" jhiTranslate="entity.action.edit">Éditer</button>
        <button (click)="goBack()" class="btn btn-secondary" jhiTranslate="entity.action.back">Retour</button>
    </div>
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="row">
        <div class="row col-md-9 col-12">
            <div class="social-card-header col-12">
                <h1>{{source.title}}</h1>
                <p>{{'jestimeApp.source.creationDate' | translate}} {{source.creationDate|date: "dd.MM.yyyy"}} {{'jestimeApp.source.by' | translate}} {{creator.firstName}} {{creator.lastName}}</p>
                <p *ngIf="updator">{{'jestimeApp.source.editDate' | translate}} {{source.editionDate|date: "dd.MM.yyyy"}} {{'jestimeApp.source.by' | translate}} {{updator.firstName}} {{updator.lastName}}</p>
            </div>
            <div class="col-12">
                <h3 style="margin-top: 20px"><i class="fa fa-map-pin" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.source.juridiction"></span> </h3>
                <p>{{source.juridictionName}}</p>
            </div>
            <div *ngIf="source.url" class="col-12">
                <h3 style="margin-top: 20px"><i class="fa fa-globe" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.source.url"></span> </h3>
                <p><a href="{{source.url}}" target="_blank">{{source.url}}</a></p>
            </div>
            <div *ngIf="source.description" class="col-12">
                <h3 style="margin-top: 20px"><i class="fa fa-book" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.source.description"></span> </h3>
                <p style="white-space: pre-wrap">{{source.description}}</p>
            </div>
        </div>
        <div class="col-12 col-md-2 offset-md-1">
            <div class="col-12 social-card-informations-container">
                <h3 class="informations_title"><strong><span jhiTranslate="jestimeApp.source.socialCards"></span> </strong></h3>
                <div *ngFor="let socialCard of socialCards">
                    <p
                        [routerLink]="['/social-card-detail', socialCard.id ]"
                        class="social-card-information">
                        {{socialCard.title}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
