<div *ngIf="user">
    <h2>
        <span jhiTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userManagement.login">Login</span></dt>
        <dd>
            <span>{{user.login}}</span>
            <jhi-boolean
                [value]="user.activated"
                [textTrue]="'userManagement.activated' | translate"
                [textFalse]="'userManagement.deactivated' | translate">
            </jhi-boolean>
        </dd>
        <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span jhiTranslate="userManagement.email">Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span>Juridiction</span></dt>
        <ng-container *ngFor="let j of juridictions">
            <dd *ngIf="j.id == user.juridictionId">{{j.name}}</dd>
        </ng-container>
        <dd *ngIf="user.juridictionId == null" jhiTranslate="userManagement.notDefined">Non définie</dd>
        <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{user.langKey}}</dd>
        <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
        <dd>{{user.createdBy}}</dd>
        <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{user.lastModifiedBy}}</dd>
        <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let authority of user.authorities">
                    <span class="badge badge-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            routerLink="/user-management"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
