<div *ngIf="address && creator">
    <div class="form-group col-12 text-right ">
        <button *ngIf="socialCards <= 0" (click)="openDeleteDialog()" class="btn btn-danger">Supprimer</button>
        <button (click)="openDialog()" class="btn btn-primary">Éditer</button>
        <button (click)="goBack()" class="btn btn-secondary">Retour</button>
    </div>
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="row">
        <div class="row col-md-9 col-12">
            <div class="social-card-header col-12">
                <h1>{{address.name}}</h1>
                <p><span jhiTranslate="jestimeApp.address.created-the"></span> {{address.creationDate|date: "dd.MM.yyyy"}} <span jhiTranslate="jestimeApp.address.by"></span> {{creator.firstName}} {{creator.lastName}}</p>
                <p *ngIf="updator"><span jhiTranslate="jestimeApp.address.updated-the"></span> {{address.editionDate|date: "dd.MM.yyyy"}} <span jhiTranslate="jestimeApp.address.by"></span> {{updator.firstName}} {{updator.lastName}}</p>
            </div>


            <div class="col-12 col-md-6">
                <h3 style="margin-top: 20px"><i class="fa fa-map-pin" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.address.location"></span> </h3>
                <p>{{address.name}}</p>
                <p>{{address.location}}</p>
            </div>
            <div class="col-12 col-md-6">
                <h3 style="margin-top: 20px"><i class="fa fa-envelope" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.address.email"></span></h3>
                <p><a href="mailto:{{address.email}}">{{address.email}}</a></p>
            </div>
            <div class="col-12 col-md-6">
                <h3 style="margin-top: 20px"><i class="fa fa-phone" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.address.phone"></span></h3>
                <p><a href="tel:{{address.phone}}">{{address.phone}}</a></p>
            </div>
            <div *ngIf="address.fax != null && address.fax != ''" class="col-12 col-md-6">
                <h3 style="margin-top: 20px"><i class="fa fa-fax" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.address.fax"></span></h3>
                <p>{{address.fax}}</p>
            </div>
            <div *ngIf="address.website != null && address.website != ''" class="col-12 col-md-6">
                <h3 style="margin-top: 20px"><i class="fa fa-globe" style="color: gainsboro"></i> <span jhiTranslate="jestimeApp.address.website"></span></h3>
                <p><a href="{{address.website}}" target="_blank">{{address.website}}</a> </p>
            </div>
        </div>
        <div class="col-12 col-md-2 offset-md-1">
            <div class="col-12 social-card-informations-container">
                <h3 class="informations_title"><strong><span jhiTranslate="jestimeApp.address.socialCards"></span></strong></h3>
                <div *ngFor="let socialCard of socialCards">
                    <p
                        [routerLink]="['/social-card-detail', socialCard.id ]"
                        class="social-card-information">
                        {{socialCard.title}} ({{socialCard.juridictionCode}})
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
