<div *ngIf="address">
    <jhi-alert></jhi-alert>
    <h1 mat-dialog-title>{{address.name}}</h1>
    <div mat-dialog-content>
        <div class="col-12">
            <label class="form-control-label" for="addressName" jhiTranslate="jestimeApp.address.name">Nom</label>
        </div>
        <div class="col-12 form-group">
            <mat-form-field>
                <input matInput
                       id="addressName"
                       class="form-control form-group"
                       name="addressName"
                       [(ngModel)]="address.name">
            </mat-form-field>
            <mat-form-field>
                <label class="form-control-label" for="addressLocation" jhiTranslate="jestimeApp.address.location">Location</label>
                <input matInput
                       id="addressLocation"
                       class="form-control form-group"
                       name="addressLocation"
                       [(ngModel)]="address.location">
            </mat-form-field>
            <mat-form-field>
                <label class="form-control-label" for="addressEmail" jhiTranslate="jestimeApp.address.email">Email</label>
                <input matInput
                       id="addressEmail"
                       class="form-control form-group"
                       name="addressEmail"
                       [(ngModel)]="address.email">
            </mat-form-field>
            <mat-form-field>
                <label class="form-control-label" for="addressPhone" jhiTranslate="jestimeApp.address.phone">Phone</label>
                <input matInput
                       id="addressPhone"
                       class="form-control form-group"
                       name="addressPhone"
                       [(ngModel)]="address.phone">
            </mat-form-field>
            <mat-form-field>
                <label class="form-control-label" for="addressFax" jhiTranslate="jestimeApp.address.fax">Fax</label>
                <input matInput
                       id="addressFax"
                       class="form-control form-group"
                       name="addressFax"
                       [(ngModel)]="address.fax">
            </mat-form-field>
            <mat-form-field>
                <label class="form-control-label" for="addressWebsite" jhiTranslate="jestimeApp.address.website">Site web</label>
                <input matInput
                       id="addressWebsite"
                       class="form-control form-group"
                       name="addressWebsite"
                       [(ngModel)]="address.website">
            </mat-form-field>
        </div>
        <div class="col-12 text-right form-group">
            <button class="btn btn-secondary" mat-button (click)="onNoClick()" jhiTranslate="entity.action.cancel">Fermer</button>
            <button type="button" (click)="save()" class="btn btn-succes" jhiTranslate="entity.action.save">Enregistrer</button>
        </div>
    </div>


</div>
