<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConditionValueLabel" jhiTranslate="jestimeApp.conditionValue.home.createOrEditLabel">Create or edit a Condition Value</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conditionValue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conditionValue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.conditionValue.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="conditionValue.value" required/>
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.conditionValue.variable" for="field_variable">Variable</label>
            <select class="form-control" id="field_variable" name="variable" [(ngModel)]="conditionValue.variableId"  required>
                <option *ngIf="!editForm.value.variable" [ngValue]="null" selected></option>
                <option [ngValue]="variableOption.id" *ngFor="let variableOption of variables; trackBy: trackVariableById">{{variableOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.variable?.dirty && editForm.controls.variable?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.variable?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.conditionValue.condition" for="field_condition">Condition</label>
            <select class="form-control" id="field_condition" name="condition" [(ngModel)]="conditionValue.conditionId"  required>
                <option *ngIf="!editForm.value.condition" [ngValue]="null" selected></option>
                <option [ngValue]="conditionOption.id" *ngFor="let conditionOption of conditions; trackBy: trackConditionById">{{conditionOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.condition?.dirty && editForm.controls.condition?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.condition?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.conditionValue.reference" for="field_reference">Reference</label>
            <select class="form-control" id="field_reference" name="reference" [(ngModel)]="conditionValue.referenceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="referenceOption.id" *ngFor="let referenceOption of references; trackBy: trackReferenceById">{{referenceOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.conditionValue.operator" for="field_operator">Operator</label>
            <select class="form-control" id="field_operator" name="operator" [(ngModel)]="conditionValue.operatorId"  required>
                <option *ngIf="!editForm.value.operator" [ngValue]="null" selected></option>
                <option [ngValue]="operatorOption.id" *ngFor="let operatorOption of operators; trackBy: trackOperatorById">{{operatorOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.operator?.dirty && editForm.controls.operator?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.operator?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
