<div>
    <h2>
        <span jhiTranslate="jestimeApp.conditionValue.home.title">Condition Values</span>
        <button class="btn btn-primary float-right jh-create-entity create-condition-value" [routerLink]="['/', { outlets: { popup: ['condition-value-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.conditionValue.home.createLabel">
            Create new Condition Value
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="conditionValues">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.conditionValue.value">Value</span></th>
            <th><span jhiTranslate="jestimeApp.conditionValue.variable">Variable</span></th>
            <th><span jhiTranslate="jestimeApp.conditionValue.condition">Condition</span></th>
            <th><span jhiTranslate="jestimeApp.conditionValue.reference">Reference</span></th>
            <th><span jhiTranslate="jestimeApp.conditionValue.operator">Operator</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conditionValue of conditionValues ;trackBy: trackId">
                <td><a [routerLink]="['../condition-value', conditionValue.id ]">{{conditionValue.id}}</a></td>
                <td>{{conditionValue.value}}</td>
                <td>
                    <div *ngIf="conditionValue.variableId">
                        <a [routerLink]="['../variable', conditionValue.variableId  ]" >{{conditionValue.variableName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conditionValue.conditionId">
                        <a [routerLink]="['../condition', conditionValue.conditionId  ]" >{{conditionValue.conditionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conditionValue.referenceId">
                        <a [routerLink]="['../reference', conditionValue.referenceId  ]" >{{conditionValue.referenceTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conditionValue.operatorId">
                        <a [routerLink]="['../operator', conditionValue.operatorId  ]" >{{conditionValue.operatorName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../condition-value', conditionValue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'condition-value/'+ conditionValue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'condition-value/'+ conditionValue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
