
<div *ngIf="conditionValue">
    <h2><span jhiTranslate="jestimeApp.conditionValue.detail.title">Condition Value</span> {{conditionValue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.conditionValue.value">Value</span></dt>
        <dd>
            <span>{{conditionValue.value}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.conditionValue.variable">Variable</span></dt>
        <dd>
            <div *ngIf="conditionValue.variableId">
                <a [routerLink]="['/variable', conditionValue.variableId]">{{conditionValue.variableName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.conditionValue.condition">Condition</span></dt>
        <dd>
            <div *ngIf="conditionValue.conditionId">
                <a [routerLink]="['/condition', conditionValue.conditionId]">{{conditionValue.conditionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.conditionValue.reference">Reference</span></dt>
        <dd>
            <div *ngIf="conditionValue.referenceId">
                <a [routerLink]="['/reference', conditionValue.referenceId]">{{conditionValue.referenceTitle}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.conditionValue.operator">Operator</span></dt>
        <dd>
            <div *ngIf="conditionValue.operatorId">
                <a [routerLink]="['/operator', conditionValue.operatorId]">{{conditionValue.operatorName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'condition-value/'+ conditionValue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
