<h3 class="mb-3" jhiTranslate="jestimeApp.socialCard.searchResult" translateValues='{nb: "{{socialCards.length}}"}'></h3>
<div class="row form-group">
    <div [routerLink]="['/social-card-detail', socialCard.id ]" *ngFor="let socialCard of socialCards" class="col-2 offset-1 social-card-container mb-3">
        <p><strong>{{socialCard.title}}</strong></p>
        <p><i class="fa fa-map-pin"></i> {{socialCard.juridictionName}}</p>
        <p><i class="fa fa-book"></i> {{socialCard.categoryName}}</p>
        <p *ngIf="socialCard.parentSocialCardId != null"><i class="fa fa-arrow-up"></i> {{socialCard.parentSocialCardTitle}}</p>
        <div class="col-12 text-right">
            <button type="button" class="btn btn-primary" [routerLink]="['/social-card-detail', socialCard.id ]" jhiTranslate="entity.action.detail"></button>
        </div>
    </div>
</div>
<div class="col-12 text-right">
    <button (click)="goBack()" class="btn btn-primary" jhiTranslate="backHome">Retour à l'accueil</button>
</div>

