<div>
    <h2>
        <span jhiTranslate="jestimeApp.socialCardAudit.home.title">Social Card Audits</span>
        <button class="btn btn-primary float-right jh-create-entity create-social-card-audit" [routerLink]="['/', { outlets: { popup: ['social-card-audit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.socialCardAudit.home.createLabel">
            Create new Social Card Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="socialCardAudits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.action">Action</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.actionDate">Action Date</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.actionUser">Action User</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.title">Title</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.general">General</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.procedure">Procedure</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.recourse">Recourse</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.juridictionId">Juridiction Id</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.categoryId">Category Id</span></th>
            <th><span jhiTranslate="jestimeApp.socialCardAudit.parentSocialCardId">Parent Social Card Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let socialCardAudit of socialCardAudits ;trackBy: trackId">
                <td><a [routerLink]="['../social-card-audit', socialCardAudit.id ]">{{socialCardAudit.id}}</a></td>
                <td>{{socialCardAudit.action}}</td>
                <td>{{socialCardAudit.actionDate | date:'mediumDate'}}</td>
                <td>{{socialCardAudit.actionUser}}</td>
                <td>{{socialCardAudit.title}}</td>
                <td>{{socialCardAudit.code}}</td>
                <td>{{socialCardAudit.general}}</td>
                <td>{{socialCardAudit.description}}</td>
                <td>{{socialCardAudit.procedure}}</td>
                <td>{{socialCardAudit.recourse}}</td>
                <td>{{socialCardAudit.juridictionId}}</td>
                <td>{{socialCardAudit.categoryId}}</td>
                <td>{{socialCardAudit.parentSocialCardId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../social-card-audit', socialCardAudit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'social-card-audit/'+ socialCardAudit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'social-card-audit/'+ socialCardAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
