
<div *ngIf="socialCardAudit">
    <h2><span jhiTranslate="jestimeApp.socialCardAudit.detail.title">Social Card Audit</span> {{socialCardAudit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.action">Action</span></dt>
        <dd>
            <span>{{socialCardAudit.action}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.actionDate">Action Date</span></dt>
        <dd>
            <span>{{socialCardAudit.actionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.actionUser">Action User</span></dt>
        <dd>
            <span>{{socialCardAudit.actionUser}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.title">Title</span></dt>
        <dd>
            <span>{{socialCardAudit.title}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.code">Code</span></dt>
        <dd>
            <span>{{socialCardAudit.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.general">General</span></dt>
        <dd>
            <span>{{socialCardAudit.general}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.description">Description</span></dt>
        <dd>
            <span>{{socialCardAudit.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.procedure">Procedure</span></dt>
        <dd>
            <span>{{socialCardAudit.procedure}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.recourse">Recourse</span></dt>
        <dd>
            <span>{{socialCardAudit.recourse}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.juridictionId">Juridiction Id</span></dt>
        <dd>
            <span>{{socialCardAudit.juridictionId}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.categoryId">Category Id</span></dt>
        <dd>
            <span>{{socialCardAudit.categoryId}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.socialCardAudit.parentSocialCardId">Parent Social Card Id</span></dt>
        <dd>
            <span>{{socialCardAudit.parentSocialCardId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'social-card-audit/'+ socialCardAudit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
