<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySocialCardAuditLabel" jhiTranslate="jestimeApp.socialCardAudit.home.createOrEditLabel">Create or edit a Social Card Audit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!socialCardAudit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="socialCardAudit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                [(ngModel)]="socialCardAudit.action" required/>
            <div [hidden]="!(editForm.controls.action?.dirty && editForm.controls.action?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.action?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.actionDate" for="field_actionDate">Action Date</label>
            <div class="input-group">
                <input id="field_actionDate" type="text" class="form-control" name="actionDate" ngbDatepicker  #actionDateDp="ngbDatepicker" [(ngModel)]="socialCardAudit.actionDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="actionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.actionDate?.dirty && editForm.controls.actionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.actionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.actionUser" for="field_actionUser">Action User</label>
            <input type="text" class="form-control" name="actionUser" id="field_actionUser"
                [(ngModel)]="socialCardAudit.actionUser" required/>
            <div [hidden]="!(editForm.controls.actionUser?.dirty && editForm.controls.actionUser?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.actionUser?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="socialCardAudit.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="socialCardAudit.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.general" for="field_general">General</label>
            <textarea class="form-control" name="general" id="field_general"
                [(ngModel)]="socialCardAudit.general" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="socialCardAudit.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.procedure" for="field_procedure">Procedure</label>
            <textarea class="form-control" name="procedure" id="field_procedure"
                [(ngModel)]="socialCardAudit.procedure" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.recourse" for="field_recourse">Recourse</label>
            <textarea class="form-control" name="recourse" id="field_recourse"
                [(ngModel)]="socialCardAudit.recourse" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.juridictionId" for="field_juridictionId">Juridiction Id</label>
            <input type="number" class="form-control" name="juridictionId" id="field_juridictionId"
                [(ngModel)]="socialCardAudit.juridictionId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.categoryId" for="field_categoryId">Category Id</label>
            <input type="number" class="form-control" name="categoryId" id="field_categoryId"
                [(ngModel)]="socialCardAudit.categoryId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.socialCardAudit.parentSocialCardId" for="field_parentSocialCardId">Parent Social Card Id</label>
            <input type="number" class="form-control" name="parentSocialCardId" id="field_parentSocialCardId"
                [(ngModel)]="socialCardAudit.parentSocialCardId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
