
<div *ngIf="source">
    <h2><span jhiTranslate="jestimeApp.source.detail.title">Source</span> {{source.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.source.code">Code</span></dt>
        <dd>
            <span>{{source.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.title">Title</span></dt>
        <dd>
            <span>{{source.title}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.description">Description</span></dt>
        <dd>
            <span>{{source.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.url">Url</span></dt>
        <dd>
            <span>{{source.url}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{source.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.editionDate">Edition Date</span></dt>
        <dd>
            <span>{{source.editionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.juridiction">Juridiction</span></dt>
        <dd>
            <div *ngIf="source.juridictionId">
                <a [routerLink]="['/juridiction', source.juridictionId]">{{source.juridictionName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.creator">Creator</span></dt>
        <dd>
            {{source.creatorLogin}}
        </dd>
        <dt><span jhiTranslate="jestimeApp.source.updator">Updator</span></dt>
        <dd>
            {{source.updatorLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'source/'+ source.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
