<div>
    <h2>
        <span jhiTranslate="jestimeApp.source.home.title">Sources</span>
        <button class="btn btn-primary float-right jh-create-entity create-source" [routerLink]="['/', { outlets: { popup: ['source-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.source.home.createLabel">
            Create new Source
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sources">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.source.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.source.title">Title</span></th>
            <th><span jhiTranslate="jestimeApp.source.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.source.url">Url</span></th>
            <th><span jhiTranslate="jestimeApp.source.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jestimeApp.source.editionDate">Edition Date</span></th>
            <th><span jhiTranslate="jestimeApp.source.juridiction">Juridiction</span></th>
            <th><span jhiTranslate="jestimeApp.source.creator">Creator</span></th>
            <th><span jhiTranslate="jestimeApp.source.updator">Updator</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let source of sources ;trackBy: trackId">
                <td><a [routerLink]="['../source', source.id ]">{{source.id}}</a></td>
                <td>{{source.code}}</td>
                <td>{{source.title}}</td>
                <td>{{source.description}}</td>
                <td>{{source.url}}</td>
                <td>{{source.creationDate | date:'mediumDate'}}</td>
                <td>{{source.editionDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="source.juridictionId">
                        <a [routerLink]="['../juridiction', source.juridictionId  ]" >{{source.juridictionName}}</a>
                    </div>
                </td>
                <td>
                    {{source.creatorLogin}}
                </td>
                <td>
                    {{source.updatorLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../source', source.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source/'+ source.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source/'+ source.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
