<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySourceLabel" jhiTranslate="jestimeApp.source.home.createOrEditLabel">Create or edit a Source</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!source.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="source.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="source.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="source.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="source.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="source.url" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="source.creationDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.editionDate" for="field_editionDate">Edition Date</label>
            <div class="input-group">
                <input id="field_editionDate" type="text" class="form-control" name="editionDate" ngbDatepicker  #editionDateDp="ngbDatepicker" [(ngModel)]="source.editionDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="editionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.juridiction" for="field_juridiction">Juridiction</label>
            <select class="form-control" id="field_juridiction" name="juridiction" [(ngModel)]="source.juridictionId"  required>
                <option *ngIf="!editForm.value.juridiction" [ngValue]="null" selected></option>
                <option [ngValue]="juridictionOption.id" *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById">{{juridictionOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.juridiction?.dirty && editForm.controls.juridiction?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.juridiction?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="source.creatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jestimeApp.source.updator" for="field_updator">Updator</label>
            <select class="form-control" id="field_updator" name="updator" [(ngModel)]="source.updatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
