
<div *ngIf="operator">
    <h2><span jhiTranslate="jestimeApp.operator.detail.title">Operator</span> {{operator.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.operator.symbol">Symbol</span></dt>
        <dd>
            <span>{{operator.symbol}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.operator.name">Name</span></dt>
        <dd>
            <span>{{operator.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operator/'+ operator.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
