<div *ngIf="socialCard">
    <jhi-alert></jhi-alert>
    <h1 mat-dialog-title>{{socialCard.title}}</h1>

    <div mat-dialog-content>
        <mat-spinner *ngIf="loading" class="spinner-center" [mode]="indeterminate"></mat-spinner>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-check-circle" [ngStyle]="{'color':socialCard.general && socialCard.description && socialCard.procedure && socialCard.recourse ? 'green' : 'grey'}"></i> {{'wizard.general' | translate}}
                </ng-template>
                <div class="row col-12">
                    <div class="col-md-6 col-12">
                        <mat-form-field>
                            <label for="title" jhiTranslate="jestimeApp.socialCard.title">Titre</label>
                            <input id="title" name="title" class="form-control form-group" [(ngModel)]="socialCard.title" required>
                        </mat-form-field>
                        <mat-form-field>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="juridiction">Juridiction</label>
                                <select [(ngModel)]="socialCard.juridictionId" class="form-control" id="juridiction" name="juridiction" required>
                                    <option *ngIf="socialCard.juridictionId != null" [ngValue]="null" selected></option>
                                    <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption.id">{{juridictionOption.name}}</option>
                                </select>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.category" for="category">Catégorie</label>
                                <select class="form-control" id="category" name="category" [(ngModel)]="socialCard.categoryId" required>
                                    <option *ngIf="socialCard.categoryId != null" [ngValue]="null" selected></option>
                                    <option *ngFor="let categoryOption of categories; trackBy: trackCategoryById" [ngValue]="categoryOption.id">{{categoryOption.name}}</option>
                                </select>
                            </div>
                        </mat-form-field>
                        <p><strong>Fiche parente</strong></p>
                        <p *ngIf="socialCard.parentSocialCardTitle != null">{{socialCard.parentSocialCardTitle}}</p>
                        <button *ngIf="socialCard.parentSocialCardTitle != null" class="btn btn-danger" (click)="deleteParent()" jhiTranslate="entity.action.delete">Supprimer</button>
                        <p *ngIf="socialCard.parentSocialCardTitle == null" jhiTranslate="jestimeApp.socialCard.noParent">Aucune fiche sélectionnée</p>
                        <button class="btn btn-primary" mat-raised-button (click)="openParentDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                    </div>
                    <div class="col-md-6 col-12">
                        <mat-tab-group class="form-group">
                            <mat-tab label="Généralités">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillGeneral' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" id="general" name="general" [(ngModel)]="socialCard.general"></textarea>
                            </mat-tab>
                            <mat-tab label="Description">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillDescription' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="description" name="description" [(ngModel)]="socialCard.description"></textarea>
                            </mat-tab>
                            <mat-tab label="Procédure">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillProcedure' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="procedure" name="procedure" [(ngModel)]="socialCard.procedure"></textarea>
                            </mat-tab>
                            <mat-tab label="Recours">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillRecourse' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="recourse" name="recourse" [(ngModel)]="socialCard.recourse"></textarea>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-check-circle" [ngStyle]="{'color':selectedAddresses.length > 0 || newAddresses.length > 0 ? 'green' : 'grey'}"></i> {{'wizard.addresses' | translate}}
                </ng-template>
                <div class="row col-12">
                    <div class="col-md-6 col-12">
                        <h3 jhiTranslate="jestimeApp.address.linkAddress">Ajouter une adresse existante</h3>
                        <button class="btn btn-primary form-group" mat-raised-button (click)="openAddressDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                        <p *ngIf="selectedAddresses.length > 0" jhiTranslate="jestimeApp.address.linkedAddresses">Adresses sélectionnées</p>
                        <table *ngIf="selectedAddresses.length > 0" class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="jestimeApp.address.name">Nom</th>
                                <th jhiTranslate="jestimeApp.address.location">Localisation</th>
                                <th jhiTranslate="entity.action.remove">Retirer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let address of selectedAddresses ;trackBy: trackAddressById">
                                <td>{{address.name}}</td>
                                <td>{{address.location}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeSelectedAddress(address)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p *ngIf="newAddresses.length > 0" jhiTranslate="jestimeApp.address.newAddresses">Adresses créées</p>
                        <table *ngIf="newAddresses.length > 0" class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="jestimeApp.address.name">Nom</th>
                                <th jhiTranslate="jestimeApp.address.location">Localisation</th>
                                <th jhiTranslate="entity.action.remove">Retirer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let address of newAddresses ;trackBy: trackAddressById">
                                <td>{{address.name}}</td>
                                <td>{{address.location}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeNewAddress(address)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-12">
                        <h3 jhiTranslate="jestimeApp.address.home.createLabel">Créer une adresse</h3>
                        <div class="form-group" [hidden]="!address.id">
                            <label for="address_id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="address_id" name="address_id"
                                   readonly matInput/>
                        </div>
                        <label for="address_name" jhiTranslate="jestimeApp.address.name">Name</label>
                        <input id="address_name" name="address_name" [(ngModel)]="address.name" class="form-control form-group" required>
                        <label for="address_location" jhiTranslate="jestimeApp.address.location">Name</label>
                        <textarea style="height: 100px; margin-top: 10px;" class="form-control form-group" id="address_location" name="address_location" [(ngModel)]="address.location" required></textarea>
                        <label for="address_phone" jhiTranslate="jestimeApp.address.phone">Phone</label>
                        <input id="address_phone" name="address_phone" class="form-control form-group" [(ngModel)]="address.phone" required>
                        <label for="address_fax" jhiTranslate="jestimeApp.address.fax">Fax</label>
                        <input id="address_fax" name="address_fax" class="form-control form-group" [(ngModel)]="address.fax">
                        <label for="address_email" jhiTranslate="jestimeApp.address.email">Email</label>
                        <input type="email" id="address_email" name="address_email" class="form-control form-group" [(ngModel)]="address.email" required>
                        <label for="address_website" jhiTranslate="jestimeApp.address.website">Website</label>
                        <input id="address_website" name="address_website" class="form-control form-group" [(ngModel)]="address.website">
                        <button type="button" class="btn btn-primary" (click)="createAddress()" jhiTranslate="entity.action.save">Valider</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-check-circle" [ngStyle]="{'color':selectedSources.length > 0 || newSources.length > 0 ? 'green' : 'grey'}"></i> {{'wizard.sources' | translate}}
                </ng-template>
                <div class="row col-12">
                    <div class="col-md-6 col-12">
                        <h3 jhiTranslate="jestimeApp.source.linkSource">Ajouter une source existante</h3>
                        <button class="btn btn-primary form-group" mat-raised-button (click)="openSourceDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                        <p *ngIf="selectedSources.length > 0" jhiTranslate="jestimeApp.source.linkedSources">Sources juridiques sélectionnées</p>
                        <table *ngIf="selectedSources.length > 0" class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="jestimeApp.source.title">Titre</th>
                                <th jhiTranslate="jestimeApp.source.juridiction">Juridiction</th>
                                <th jhiTranslate="jestimeApp.source.url">URL</th>
                                <th jhiTranslate="entity.action.remove">Retirer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let source of selectedSources ;trackBy: trackSourceById">
                                <td>{{source.title}}</td>
                                <td>{{source.juridictionName}}</td>
                                <td><a *ngIf="source.url" href="{{source.url }}" target="_blank">{{source.url | slice:0:50}}...</a> </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeSelectedSource(source)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p *ngIf="newSources.length > 0" jhiTranslate="jestimeApp.source.newSources">Sources juridiques créées</p>
                        <table *ngIf="newSources.length > 0" class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="jestimeApp.source.title">Titre</th>
                                <th jhiTranslate="jestimeApp.source.juridiction">Juridiction</th>
                                <th jhiTranslate="jestimeApp.source.url">URL</th>
                                <th jhiTranslate="entity.action.remove">Retirer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let source of newSources ;trackBy: trackSourceById">
                                <td>{{source.title}}</td>
                                <td>{{source.juridictionName}}</td>
                                <td><a *ngIf="source.url" href="{{source.url}}" target="_blank">{{source.url | slice:0:50}}...</a> </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="removeNewSource(source)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-12">
                        <h3 jhiTranslate="jestimeApp.source.home.createLabel">Créer une source juridique</h3>
                        <div class="form-group" [hidden]="!source.id">
                            <label for="address_id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="source_id" name="source_id"
                                   readonly matInput/>
                        </div>
                        <label for="source_title" jhiTranslate="jestimeApp.source.title">Titre</label>
                        <input id="source_title" name="source_title" [(ngModel)]="source.title" class="form-control form-group" required>
                        <label for="source_description" jhiTranslate="jestimeApp.source.description">Description</label>
                        <textarea style="height: 100px; margin-top: 10px;" class="form-control form-group" id="source_description" name="source_description" [(ngModel)]="source.description"></textarea>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="sourceJuridiction">Juridiction</label>
                            <select class="form-control" id="sourceJuridiction" name="sourceJuridiction" required [(ngModel)]="source.juridictionId">
                                <option *ngIf="!source.juridictionId" [ngValue]="null" selected></option>
                                <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption.id">{{juridictionOption.name}}</option>
                            </select>
                        </div>
                        <label for="source_url" jhiTranslate="jestimeApp.source.url">URL</label>
                        <input id="source_url" name="source_url" class="form-control form-group" [(ngModel)]="source.url">
                        <button type="button" class="btn btn-primary" (click)="createSource()" jhiTranslate="entity.action.save">Valider</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-check-circle" [ngStyle]="{'color':socialCard.conditions.length > 0 || newConditions.length > 0 ? 'green' : 'grey'}"></i> {{'wizard.conditions' | translate}}
                </ng-template>
                <div class="row col-12">
                    <div class="col-md-6 col-12">
                        <button (click)="openConditionHelp()" class="btn btn-info" jhiTranslate="entity.action.help"></button>
                        <h3 *ngIf="socialCard.conditions.length > 0" jhiTranslate="jestimeApp.condition.home.title">Conditions d'octroi actuelles</h3>
                        <div *ngFor="let condition of socialCard.conditions; let i = index">
                            <h3>Condition n°{{i + 1}} <button (click)="manageCondition(condition, i)" class="btn btn-primary" jhiTranslate="jestimeApp.conditionValue.add">Ajouter une variable</button> <button class="btn btn-danger" (click)="openDeleteConditionDialog(condition)"><i class="fa fa-trash"></i></button></h3>
                            <p>{{condition.description}}</p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                                    <th jhiTranslate="entity.action.remove">Retirer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let val of condition.conditionValues">
                                    <td>{{val.variableName}}</td>
                                    <td>{{val.operatorName}}</td>
                                    <td>{{val.value}}</td>
                                    <td><button (click)="removeValue(condition, val)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <h3 *ngIf="newConditions.length > 0" jhiTranslate="jestimeApp.condition.newConditions">Conditions d'octroi créées</h3>
                        <div *ngFor="let condition of newConditions; let i = index">
                            <h3>Condition n°{{i + 1}} <button (click)="manageCondition(condition, i)" class="btn btn-primary" jhiTranslate="jestimeApp.conditionValue.add">Ajouter une variable</button> <button class="btn btn-danger" (click)="removeNewCondition(condition)"><i class="fa fa-trash"></i></button></h3>
                            <p>{{condition.description}}</p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                                    <th jhiTranslate="entity.action.remove">Retirer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let val of condition.conditionValues">
                                    <td>{{val.variableName}}</td>
                                    <td>{{val.operatorName}}</td>
                                    <td>{{val.value}}</td>
                                    <td><button (click)="removeValue(condition, val)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h3 jhiTranslate="jestimeApp.condition.home.createLabel">Créer une condition d'octroi</h3>
                        <div class="form-group">
                            <label class="form-control-label" for="conditionDescription" jhiTranslate="jestimeApp.condition.description">Description</label>
                            <mat-form-field>
                                <textarea matInput id="conditionDescription" name="conditionDescription" class="form-control" [(ngModel)]="condition.description" ></textarea>
                            </mat-form-field>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="createCondition()" jhiTranslate="entity.action.save">Valider</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="col-12 text-right">
            <button class="btn btn-secondary" (click)="cancel()" jhiTranslate="entity.action.cancel"></button>
            <button class="btn btn-success" (click)="save()" jhiTranslate="entity.action.save">Enregistrer</button>
        </div>
    </div>

</div>
