<div class="modal-body">
    <p jhiTranslate="jestimeApp.socialCard.confirmClose"></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()" jhiTranslate="entity.action.no"></button>
    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()" jhiTranslate="entity.action.yes"></button>
</div>
