<div *ngIf="socialCard && children && creator">
    <div class="row mb-3">
        <div class="col-md-9 col-12">
            <div class="row">
                <div class="col-3 text-center">
                    <h4 jhiTranslate="wizard.general"></h4>
                    <i class="fa fa-check-circle fa-4x" [ngStyle]="{'color':informationsIndicator === 100 ? 'green' : 'grey'}"></i>
                </div>
                <div class="col-3 text-center">
                    <h4 jhiTranslate="wizard.addresses"></h4>
                    <i class="fa fa-check-circle fa-4x" [ngStyle]="{'color':addressesIndicator === 100 ? 'green' : 'grey'}"></i>
                </div>
                <div class="col-3 text-center">
                    <h4 jhiTranslate="wizard.sources"></h4>
                    <i class="fa fa-check-circle fa-4x" [ngStyle]="{'color':sourcesIndicator === 100 ? 'green' : 'grey'}"></i>
                </div>
                <div class="col-3 text-center">
                    <h4 jhiTranslate="wizard.conditions"></h4>
                    <i class="fa fa-check-circle fa-4x" [ngStyle]="{'color':conditionsIndicator === 100 ? 'green' : 'grey'}"></i>
                </div>
            </div>
        </div>
        <div class="form-group col-12 col-md-3 text-right ">
            <button *ngIf="children.length <= 0" (click)="openDeleteDialog()" class="btn btn-danger" jhiTranslate="entity.action.delete">Supprimer</button>
            <button (click)="openDialog()" class="btn btn-primary" jhiTranslate="entity.action.edit">Éditer</button>
            <button (click)="goBack()" class="btn btn-secondary" jhiTranslate="entity.action.back">Retour</button>
            <div class="col-12 text-right mt-3">
                <a target="_blank" [routerLink]="['/social-card', socialCard.id]" class="btn btn-info"><i class="fa fa-print"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="col-12">
                <jhi-alert></jhi-alert>
            </div>
            <div class="social-card-header col-12">
                <h1>{{socialCard.title}} ({{socialCard.juridictionName}})</h1>
                <p>{{'jestimeApp.socialCard.category' | translate}} : {{socialCard.categoryName}}</p>
                <p>{{'jestimeApp.socialCard.creationDate' | translate}} {{socialCard.creationDate|date: "dd.MM.yyyy"}} {{'jestimeApp.socialCard.by' | translate}} {{creator.firstName}} {{creator.lastName}}</p>
                <p *ngIf="socialCard.editDate">{{'jestimeApp.socialCard.editDate' | translate}} {{socialCard.editDate|date: "dd.MM.yyyy"}} {{'jestimeApp.socialCard.by' | translate}} {{updator.firstName}} {{updator.lastName}}</p>
            </div>
            <div class="col-12">
                <mat-tab-group class="form-group longtext">
                    <mat-tab>
                        <ng-template matTabLabel>
                            <span jhiTranslate="jestimeApp.socialCard.general"></span>
                        </ng-template>
                        {{socialCard.general}}
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>
                            <span jhiTranslate="jestimeApp.socialCard.description"></span>
                        </ng-template>
                        {{socialCard.description}}
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>
                            <span jhiTranslate="jestimeApp.socialCard.procedure"></span>
                        </ng-template>
                        {{socialCard.procedure}}
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>
                            <span jhiTranslate="jestimeApp.socialCard.recourse"></span>
                        </ng-template>
                        {{socialCard.recourse}}
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>
                            <span jhiTranslate="jestimeApp.socialCard.conditions"></span>
                        </ng-template>
                        <div *ngFor="let condition of socialCard.conditions; let i = index">
                            <h3>Condition n°{{i + 1}}</h3>
                            <p>{{condition.description}}</p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.source">Source juridique</th>
                                    <th jhiTranslate="jestimeApp.conditionValue.reference">Référence</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let val of condition.conditionValues">
                                    <td>{{val.variableName}}</td>
                                    <td>{{val.operatorName}}</td>
                                    <td>{{val.value}}</td>
                                    <td>{{val.reference.sourceTitle}}</td>
                                    <td *ngIf="val.reference.sourceUrl"><a href="{{val.reference.sourceUrl}}" target="_blank">{{val.referenceTitle}}</a></td>
                                    <td *ngIf="!val.reference.sourceUrl">{{val.referenceTitle}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class=" col-md-2 offset-md-1">
            <div class="col-12">
                <div class="col-12 social-card-informations-container">
                    <h3 class="informations_title"><strong><span jhiTranslate="jestimeApp.socialCard.addresses"></span></strong></h3>
                    <div *ngFor="let address of socialCard.addresses">
                        <p
                            [routerLink]="['/address-detail', address.id ]"
                            class="social-card-information">
                            {{address.name}}
                        </p>
                    </div>
                </div>
                <div class="col-12 mt-3 social-card-informations-container">
                    <h3 class="informations_title"><strong><span jhiTranslate="jestimeApp.socialCard.sources"></span></strong></h3>
                    <div *ngFor="let source of socialCard.sources">
                        <p
                            [routerLink]="['/source-detail', source.id ]"
                            class="social-card-information">
                            {{source.title}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
