
<div *ngIf="variableType">
    <h2><span jhiTranslate="jestimeApp.variableType.detail.title">Variable Type</span> {{variableType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.variableType.code">Code</span></dt>
        <dd>
            <span>{{variableType.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.variableType.name">Name</span></dt>
        <dd>
            <span>{{variableType.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'variable-type/'+ variableType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
