/* ==========================================================================
Main page styles
========================================================================== */
.home{
    font-weight: bold;
    color: rgb(34,92,119) !important;
}

.hipster {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../../content/images/jestime.jpg") no-repeat center;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

