<div *ngIf="isAuthenticated()" class="row">
    <div class="col-md-3">
        <span class="hipster"></span>
    </div>

    <div class="col-md-9">
        <jhi-alert></jhi-alert>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>
        <h1 class="display-4 home" jhiTranslate="home.title">Bienvenue sur Jestime.ch</h1>
        <div class="col-12 text-center">
            <h2>Rechercher une fiche de prestation sociale</h2>
            <div class="form-group">
                <input type="text" [(ngModel)]="searchInput" class="form-control" />
            </div>
            <div class="col-12 text-right">
                <button type="button" class="btn btn-primary" (click)="search()">Rechercher</button>
            </div>
            <div class="col-12">
                <h4>Filtres</h4>
                <div class="row">
                    <div class="col-5 p-5 border home_container">
                        <h3 class="mb-3">Catégories</h3>
                        <li class="text-left" style="list-style-type: none" *ngFor="let category of categories">
                            <label>
                            <input
                                type="checkbox"
                                name="categorySelections"
                                value="{{category}}"
                                [checked]="categorySelections.indexOf(category) > -1"
                                (click)="toggleSelectionCategory(category)"
                            /> {{category.name}}
                            </label>
                        </li>
                    </div>
                    <div class="col-5 offset-2 p-5 border home_container">
                        <h3 class="mb-3">Juridictions</h3>
                        <li class="text-left" style="list-style-type: none" *ngFor="let juridiction of juridictions">
                            <label>
                            <input
                                type="checkbox"
                                name="juridictionSelections"
                                id="juridiction_{{juridiction.id}}"
                                value="{{juridiction}}"
                                [checked]="juridictionSelections.indexOf(juridiction) > -1"
                                (click)="toggleSelectionJuridiction(juridiction)"
                            > {{juridiction.name}}</label>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAuthenticated()">
    <a class="dropdown-item" (click)="login()" id="login">
        <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
        <span jhiTranslate="global.menu.account.login">Sign in</span>
    </a>
</div>
