.social-card-container{
    padding: 10px;
    border: 1px solid gainsboro;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(34,92,119);
    color: white;
}

.social-card-container:hover{
    box-shadow: gray 5px 5px;
}

.social-card-informations-container{
    background-color: rgb(34,92,119);
    color: white;
    padding: 10px;
}

.social-card-information{
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.social-card-information:hover{
    text-decoration: underline;
}

.social-card-header{
    background-color: rgb(34,92,119);
    color: white;
    padding: 10px;
}

.longtext{
    white-space: pre-line;
    text-align: justify;
}

.mat-tab-header{
    margin-bottom: 10px;
}

.mat-tab-body{
    padding: 10px;
}

.home_container{
    background-color: rgb(34,92,119);
    color: white;
}

.spinner-center{
    position: absolute !important;
    top: 45%;
    left: 45%;
    z-index: 10;
}

.my-tooltip{
    white-space: pre-line;
}
