<h1 mat-dialog-title jhiTranslate="jestimeApp.condition.help.title"></h1>
<div mat-dialog-content>
    <p class="text-justify my-tooltip" jhiTranslate="jestimeApp.condition.help.content"></p>
    <h3 class="mt-3" jhiTranslate="jestimeApp.condition.help.exemple"></h3>
    <p class="text-justify my-tooltip" jhiTranslate="jestimeApp.condition.help.exempleExplanantion"></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
            <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
            <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Âge</td>
            <td>Supérieur ou égal</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Âge</td>
            <td>Inférieur ou égal</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Revenu déterminant</td>
            <td>Supérieur ou égal</td>
            <td>25'000</td>
        </tr>
        <tr>
            <td>Revenu déterminant</td>
            <td>Inférieur ou égal</td>
            <td>30'000</td>
        </tr>
        </tbody>
    </table>
    <div class="col-12 text-right">
        <button class="btn btn-secondary" jhiTranslate="entity.action.back" (click)="onNoClick()"></button>
    </div>
</div>


