<h1 mat-dialog-title jhiTranslate="jestimeApp.socialCard.parent.search">Recherche d'une fiche parente</h1>
<div mat-dialog-content>
    <div class="col-12">
        <label class="form-control-label" for="parentTitle" jhiTranslate="jestimeApp.socialCard.title">Titre</label>
    </div>
    <div class="col-12 form-group">
        <mat-form-field>
            <input matInput
                   id="parentTitle"
                   class="form-control"
                   name="parentTitle"
                   [(ngModel)]="parentTitle">
        </mat-form-field>
    </div>
    <div class="col-12 text-right form-group">
        <button type="button" (click)="searchParent()" class="btn btn-primary" jhiTranslate="entity.action.search">Rechercher</button>
    </div>
    <table *ngIf="socialCards.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th jhiTranslate="jestimeApp.socialCard.title">Title</th>
            <th jhiTranslate="jestimeApp.socialCard.juridiction">Juridiction</th>
            <th jhiTranslate="jestimeApp.socialCard.category">Catégorie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let socialCard of socialCards ;trackBy: trackById">
            <td>{{socialCard.title}}</td>
            <td>{{socialCard.juridictionName}}</td>
            <td>{{socialCard.categoryName}}</td>
            <td>
                <button type="button" (click)="selectParent(socialCard.id)" class="btn" jhiTranslate="entity.action.pick">Sélectionner</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


