<div *ngIf="juridictions.length > 0">
    <h1 mat-dialog-title jhiTranslate="jestimeApp.source.search">Recherche d'une source juridique</h1>
    <div mat-dialog-content>
        <div class="form-group">
            <mat-form-field>
                <label class="form-control-label" for="sourceTitle" jhiTranslate="jestimeApp.source.title">Titre</label>
                <input matInput
                       id="sourceTitle"
                       class="form-control"
                       name="sourceTitle"
                       [(ngModel)]="sourceTitle">
            </mat-form-field>

        </div>
        <div class="form-group">
            <label for="sourceJuridiction" jhiTranslate="jestimeApp.source.juridiction">Juridiction</label>
            <select class="form-control" id="sourceJuridiction" name="sourceJuridiction" [(ngModel)]="sourceJuridiction">
                <option [ngValue]="0" selected></option>
                <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption.id">{{juridictionOption.name}}</option>
            </select>
        </div>
        <div class="col-12 text-right form-group">
            <button type="button" (click)="searchSource()" class="btn btn-primary" jhiTranslate="entity.action.search">Rechercher</button>
        </div>
        <table *ngIf="sources.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th jhiTranslate="jestimeApp.source.title">Titre</th>
                <th jhiTranslate="jestimeApp.source.juridiction">Juridiction</th>
                <th jhiTranslate="jestimeApp.source.description">Description</th>
                <th jhiTranslate="jestimeApp.source.url">URL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let source of sources ;trackBy: trackById">
                <tr *ngIf="ids.indexOf(source.id) === -1">
                    <td>{{source.title}}</td>
                    <td>{{source.juridictionName}}</td>
                    <td>{{source.description}}</td>
                    <td><a href="{{source.url}}" target="_blank">{{source.url}}</a></td>
                    <td>
                        <button type="button" (click)="selectSource(source)" class="btn" jhiTranslate="entity.action.pick">Sélectionner</button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>
