<div *ngIf="sources && condition && conditionValue && variables">
    <h1 mat-dialog-title jhiTranslate="jestimeApp.conditionValue.add">Ajout d'une variable</h1>
    <div mat-dialog-content>
        <div class="form-group">
            <label for="valueVariable" jhiTranslate="jestimeApp.conditionValue.variable">Variable</label>
            <select required id="valueVariable" class="form-control" [(ngModel)]="conditionValue.variableId">
                <option *ngFor="let v of variables" [ngValue]="v.id">{{v.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valueOperator" jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</label>
            <select required (change)="affectOperator()" id="valueOperator" class="form-control" [(ngModel)]="selectedOperator">
                <option *ngFor="let operator of operators" [ngValue]="operator">{{operator.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valueExpected" jhiTranslate="jestimeApp.conditionValue.value">Valeur</label>
            <input required id="valueExpected" [(ngModel)]="conditionValue.value" class="form-control" />
        </div>
        <div class="form-group">
            <label for="valueSource" jhiTranslate="jestimeApp.conditionValue.source">Source juridique</label>
            <select id="valueSource" class="form-control" [(ngModel)]="selectedSource">
                <option (ngValue)="null"></option>
                <option *ngFor="let s of sources" [ngValue]="s">{{s.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valueReference" jhiTranslate="jestimeApp.conditionValue.reference">Référence</label>
            <select [disabled]="selectedSource === null || !selectedSource" (change)="affectReference()" required id="valueReference" class="form-control" [(ngModel)]="selectedReference">
                <ng-container *ngIf="selectedSource">
                    <option *ngFor="let r of selectedSource.references" [ngValue]="r">{{r.title}}</option>
                </ng-container>
            </select>
        </div>
        <button [disabled]="selectedSource === null || !selectedSource" class="btn btn-primary" (click)="openReferenceDialog()" jhiTranslate="jestimeApp.reference.home.createLabel">Créer une référence</button>
        <button class="btn btn-primary" (click)="openVariableDialog()" jhiTranslate="jestimeApp.variable.home.createLabel">Créer une variable</button>
        <button class="btn btn-success" (click)="addValue()" jhiTranslate="entity.action.save">Ajouter la variable</button>
    </div>
</div>
