<h1 mat-dialog-title jhiTranslate="jestimeApp.address.search">Recherche d'une adresse</h1>
<div mat-dialog-content>
    <div class="col-12">
        <label class="form-control-label" for="addressName" jhiTranslate="jestimeApp.address.name">Nom</label>
    </div>
    <div class="col-12 form-group">
        <mat-form-field class="form-group">
            <input matInput
                   id="addressName"
                   class="form-control"
                   name="addressName"
                   [(ngModel)]="addressName">
        </mat-form-field>
        <mat-form-field class="form-group">
            <label class="form-control-label" for="addressLocation" jhiTranslate="jestimeApp.address.location">Location</label>
            <input matInput
                   id="addressLocation"
                   class="form-control"
                   name="addressLocation"
                   [(ngModel)]="addressLocation">
        </mat-form-field>
        <mat-form-field class="form-group">
            <label class="form-control-label" for="addressEmail" jhiTranslate="jestimeApp.address.email">Email</label>
            <input matInput
                   id="addressEmail"
                   class="form-control"
                   name="addressEmail"
                   [(ngModel)]="addressEmail">
        </mat-form-field>
        <mat-form-field class="form-group">
            <label class="form-control-label" for="addressPhone" jhiTranslate="jestimeApp.address.phone">Phone</label>
            <input matInput
                   id="addressPhone"
                   class="form-control"
                   name="addressPhone"
                   [(ngModel)]="addressPhone">
        </mat-form-field>
    </div>
    <div class="col-12 text-right form-group">
        <button type="button" (click)="searchAddress()" class="btn btn-primary" jhiTranslate="entity.action.search">Rechercher</button>
    </div>
    <table *ngIf="addresses.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th jhiTranslate="jestimeApp.address.name">Nom</th>
            <th jhiTranslate="jestimeApp.address.location">Location</th>
            <th jhiTranslate="jestimeApp.address.email">Email</th>
            <th jhiTranslate="jestimeApp.address.phone">Téléphone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let address of addresses ;trackBy: trackById">
            <tr *ngIf="ids.indexOf(address.id) === -1">
                <td>{{address.name}}</td>
                <td>{{address.location}}</td>
                <td>{{address.email}}</td>
                <td>{{address.phone}}</td>
                <td>
                    <button type="button" (click)="selectAddress(address)" class="btn" jhiTranslate="entity.action.pick">Sélectionner</button>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>


