<div *ngIf="source">
    <h1 mat-dialog-title jhiTranslate="jestimeApp.reference.creation">Création d'une référence</h1>
    <div class="form-group">
        <h3>{{'jestimeApp.reference.source' | translate}} : {{source.title}} ({{source.juridictionName}})</h3>
    </div>
    <div class="form-group">
        <label for="referenceTitle" jhiTranslate="jestimeApp.reference.title">Titre</label>
        <input id="referenceTitle" class="form-control" [(ngModel)]="reference.title" required />
    </div>
    <div class="form-group">
        <button class="btn btn-success" (click)="save()" jhiTranslate="entity.action.save">Enregistrer</button>
    </div>
</div>
