<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>
<mat-horizontal-stepper [linear]="isLinear" (selectionChange)="updateSocialCard()" #stepper>
    <mat-step [stepControl]="generalFormFirstStep">
        <form [formGroup]="generalFormFirstStep" name="generalForm" role="form" #generalForm="ngForm">
            <ng-template matStepLabel><span jhiTranslate="wizard.general"></span> </ng-template>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group" [hidden]="!socialCard.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <mat-form-field>
                            <input type="text" class="form-control" id="id" name="id"
                                   formControlName="id" readonly matInput/>
                        </mat-form-field>

                    </div>
                    <mat-form-field>
                        <label for="title" jhiTranslate="jestimeApp.socialCard.title">Titre</label> <i style="color:gray" class="fa fa-info-circle" [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'after'" matTooltip="{{'jestimeApp.socialCard.titleHelp' | translate}}"></i>
                        <input id="title" formControlName="title" name="title" formControlName="title" class="form-control form-group" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="juridiction">Juridiction</label> <i style="color:gray" class="fa fa-info-circle" [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'after'" matTooltip="{{'jestimeApp.socialCard.juridictionHelp' | translate}}"></i>
                            <select class="form-control" id="juridiction" name="juridiction" formControlName="juridiction" required>
                                <option *ngIf="!generalFormFirstStep.get('juridiction').value" [ngValue]="null" selected></option>
                                <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption">{{juridictionOption.name}}</option>
                            </select>
                        </div>
                    </mat-form-field>
                    <mat-form-field>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.category" for="category">Catégorie</label>
                            <select class="form-control" id="category" name="category" formControlName="category" required>
                                <option *ngIf="!generalFormFirstStep.get('category').value" [ngValue]="null" selected></option>
                                <option *ngFor="let categoryOption of categories; trackBy: trackCategoryById" [ngValue]="categoryOption">{{categoryOption.name}}</option>
                            </select>
                        </div>
                    </mat-form-field>
                    <p><strong><span jhiTranslate="jestimeApp.socialCard.parentSocialCard"></span> </strong> <i style="color:gray" class="fa fa-info-circle" [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'after'" matTooltip="{{'jestimeApp.socialCard.parentSocialCardHelp' | translate}}"></i></p>
                    <p *ngIf="parentSocialCard != null">{{parentSocialCard.title}}</p>
                    <button *ngIf="parentSocialCard != null" class="btn btn-danger" (click)="deleteParent()" jhiTranslate="entity.action.remove">Supprimer</button>
                    <p *ngIf="parentSocialCard == null" jhiTranslate="jestimeApp.socialCard.noParent">Aucune fiche sélectionnée</p>
                    <button class="btn btn-primary" mat-raised-button (click)="openParentDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                </div>
                <div class="col-md-6 col-12">
                    <mat-tab-group class="form-group">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.general"></span>
                            </ng-template>
                            <mat-form-field class="example-full-width">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillGeneral' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="general" name="general" formControlName="general"></textarea>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.description"></span>
                            </ng-template>
                            <mat-form-field class="example-full-width">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillDescription' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="description" name="description" formControlName="description"></textarea>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.procedure"></span>
                            </ng-template>
                            <mat-form-field class="example-full-width">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillProcedure' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="procedure" name="procedure" formControlName="procedure"></textarea>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.recourse"></span>
                            </ng-template>
                            <mat-form-field class="example-full-width">
                                <textarea placeholder="{{'jestimeApp.socialCard.fillRecourse' | translate}}" style="height: 300px; margin-top: 10px;" class="form-control" matInput id="recourse" name="recourse" formControlName="recourse"></textarea>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="col-12 text-right">
                <button class="btn btn-secondary" mat-button matStepperPrevious jhiTranslate="entity.action.back">Back</button>
                <button class="btn btn-primary" mat-button matStepperNext jhiTranslate="entity.action.next">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step optional>
        <form [formGroup]="generalFormSecondStep" name="generalFormSecond" role="form" #generalFormSecond="ngForm">

            <ng-template matStepLabel>
                <span jhiTranslate="wizard.addresses"></span>
            </ng-template>
            <div class="row">
                <div class="col-md-6 col-12">
                    <h3 jhiTranslate="jestimeApp.address.linkAddress">Ajouter une adresse existante</h3>
                    <button class="btn btn-primary form-group" mat-raised-button (click)="openAddressDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                    <p *ngIf="selectedAddresses.length > 0" jhiTranslate="jestimeApp.address.linkedAddresses">Adresses sélectionnées</p>
                    <table *ngIf="selectedAddresses.length > 0" class="table table-striped">
                        <thead>
                        <tr>
                            <th jhiTranslate="jestimeApp.address.name"></th>
                            <th jhiTranslate="jestimeApp.address.location"></th>
                            <th jhiTranslate="entity.action.remove"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let address of selectedAddresses ;trackBy: trackAddressById">
                            <td>{{address.name}}</td>
                            <td>{{address.location}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeSelectedAddress(address)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p *ngIf="newAddresses.length > 0" jhiTranslate="jestimeApp.address.newAddresses">Adresses créées</p>
                    <table *ngIf="newAddresses.length > 0" class="table table-striped">
                        <thead>
                        <tr>
                            <th jhiTranslate="jestimeApp.address.name"></th>
                            <th jhiTranslate="jestimeApp.address.location"></th>
                            <th jhiTranslate="entity.action.remove"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let address of newAddresses ;trackBy: trackAddressById">
                            <td>{{address.name}}</td>
                            <td>{{address.location}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeNewAddress(address)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-12">
                    <h3 jhiTranslate="jestimeApp.address.home.createLabel">Créer une adresse</h3>
                    <div class="form-group" [hidden]="!address.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <mat-form-field>
                            <input type="text" class="form-control" id="address_id" name="address_id"
                                   formControlName="address_id" readonly matInput/>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <label for="address_name" jhiTranslate="jestimeApp.address.name">Name</label>
                        <input id="address_name" name="address_name" formControlName="address_name" class="form-control form-group" matInput required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <label for="address_location" jhiTranslate="jestimeApp.address.location">Localisation</label>
                        <textarea style="height: 100px; margin-top: 10px;" class="form-control form-group" matInput id="address_location" name="address_location" formControlName="address_location"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <label for="address_phone" jhiTranslate="jestimeApp.address.phone">Phone</label>
                        <input id="address_phone" name="address_phone" formControlName="address_phone" class="form-control form-group" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label for="address_fax" jhiTranslate="jestimeApp.address.fax">Fax</label>
                        <input id="address_fax" name="address_fax" formControlName="address_fax" class="form-control form-group" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <label for="address_email" jhiTranslate="jestimeApp.address.email">Email</label>
                        <input type="email" id="address_email" name="address_email" formControlName="address_email" class="form-control form-group" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label for="address_website" jhiTranslate="jestimeApp.address.website">Website</label>
                        <input id="address_website" name="address_website" formControlName="address_website" class="form-control form-group" matInput>
                    </mat-form-field>
                    <button type="button" class="btn btn-primary" (click)="createAddress()" jhiTranslate="entity.action.save">Valider</button>
                </div>
            </div>
        </form>
        <div class="col-12 text-right">
            <button class="btn btn-secondary" mat-button matStepperPrevious jhiTranslate="entity.action.back">Back</button>
            <button class="btn btn-primary" mat-button matStepperNext jhiTranslate="entity.action.next">Next</button>
        </div>
    </mat-step>
    <mat-step optional>
        <ng-template matStepLabel>
            <span jhiTranslate="wizard.sources"></span>
        </ng-template>
        <div class="row">
            <div class="col-md-6 col-12">
                <h3 jhiTranslate="jestimeApp.source.linkSource"></h3>
                <button class="btn btn-primary form-group" mat-raised-button (click)="openSourceDialog()" jhiTranslate="entity.action.search">Rechercher</button>
                <p *ngIf="selectedSources.length > 0" jhiTranslate="jestimeApp.source.linkedSources">Sources juridiques sélectionnées</p>
                <table *ngIf="selectedSources.length > 0" class="table table-striped">
                    <thead>
                    <tr>
                        <th jhiTranslate="jestimeApp.source.title"></th>
                        <th jhiTranslate="jestimeApp.source.juridiction"></th>
                        <th jhiTranslate="jestimeApp.source.url"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let source of selectedSources;">
                        <td>{{source.title}}</td>
                        <td>{{source.juridictionName}}</td>
                        <td><a href="{{source.url}}" target="_blank">{{source.url}}</a></td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="removeSelectedSource(source)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="newSources.length > 0" jhiTranslate="jestimeApp.source.newSources">Sources créées</p>
                <table *ngIf="newSources.length > 0" class="table table-striped">
                    <thead>
                    <tr>
                        <th jhiTranslate="jestimeApp.source.title"></th>
                        <th jhiTranslate="jestimeApp.source.juridiction"></th>
                        <th jhiTranslate="jestimeApp.source.url"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let source of newSources;">
                        <td>{{source.title}}</td>
                        <td>{{source.juridictionName}}</td>
                        <td><a href="{{source.url}}" target="_blank">{{source.url}}</a></td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="removeNewSource(source)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-12">
                <h3 jhiTranslate="jestimeApp.source.home.createLabel">Créer une source juridique</h3>
                <div class="form-group">
                    <label class="form-control-label" for="sourceTitle" jhiTranslate="jestimeApp.source.title">Titre</label>
                    <mat-form-field>
                        <input required matInput id="sourceTitle" name="sourceTitle" class="form-control" [(ngModel)]="source.title" />
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="jestimeApp.socialCard.juridiction" for="sourceJuridiction" jhiTranslate="jestimeApp.source.juridiction">Juridiction</label>
                        <select class="form-control" id="sourceJuridiction" name="sourceJuridiction" required [(ngModel)]="source.juridictionId">
                            <option *ngIf="!source.juridictionId" [ngValue]="null" selected></option>
                            <option *ngFor="let juridictionOption of juridictions; trackBy: trackJuridictionById" [ngValue]="juridictionOption.id">{{juridictionOption.name}}</option>
                        </select>
                    </div>
                </mat-form-field>
                <div class="form-group">
                    <label class="form-control-label" for="sourceDescription" jhiTranslate="jestimeApp.source.description">Description</label>
                    <mat-form-field>
                        <textarea matInput id="sourceDescription" name="sourceDescription" class="form-control" [(ngModel)]="source.description" ></textarea>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="sourceUrl" jhiTranslate="jestimeApp.source.url">URL</label>
                    <mat-form-field>
                        <input matInput id="sourceUrl" name="sourceUrl" class="form-control" [(ngModel)]="source.url" />
                    </mat-form-field>
                </div>
                <button type="button" class="btn btn-primary" (click)="createSource()" jhiTranslate="entity.action.save">Valider</button>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-secondary" mat-button matStepperPrevious jhiTranslate="entity.action.back">Back</button>
            <button class="btn btn-primary" mat-button matStepperNext jhiTranslate="entity.action.next">Next</button>
        </div>
    </mat-step>
    <mat-step optional>
        <ng-template matStepLabel>
            <span jhiTranslate="wizard.conditions"></span>
        </ng-template>
        <div class="row">
            <div class="col-md-6 col-12 mb-2">
                <button (click)="openConditionHelp()" class="btn btn-info" jhiTranslate="entity.action.help"></button>
                <h3 jhiTranslate="jestimeApp.condition.newConditions">Conditions d'octroi créées</h3>
                <div *ngFor="let condition of newConditions; let i = index">
                    <h4>Condition n°{{i + 1}} <button (click)="manageCondition(condition, i)" class="btn btn-primary" jhiTranslate="jestimeApp.variable.add">Ajouter une variable</button> <button (click)="removeCondition(condition)" class="btn btn-danger"><i class="fa fa-trash"></i></button> </h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                            <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                            <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                            <th jhiTranslate="entity.action.remove"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of condition.conditionValues">
                            <td>{{val.variableName}}</td>
                            <td>{{val.operatorName}}</td>
                            <td>{{val.value}}</td>
                            <td><button (click)="removeValue(condition, val)" class="btn btn-danger">Retirer</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h3 jhiTranslate="jestimeApp.condition.home.createLabel">Créer une condition d'octroi</h3>
                <div class="form-group">
                    <label class="form-control-label" for="conditionDescription" jhiTranslate="jestimeApp.condition.description">Description</label> <i style="color:gray" class="fa fa-info-circle" [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'after'" matTooltip="{{'jestimeApp.condition.titleHelp' | translate}}"></i>
                    <mat-form-field>
                        <textarea matInput id="conditionDescription" name="conditionDescription" class="form-control" [(ngModel)]="condition.description" ></textarea>
                    </mat-form-field>
                </div>
                <button type="button" class="btn btn-primary" (click)="createCondition()" jhiTranslate="entity.action.save">Valider</button>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-secondary" mat-button matStepperPrevious jhiTranslate="entity.action.back">Back</button>
            <button class="btn btn-primary" mat-button matStepperNext jhiTranslate="entity.action.next">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <span jhiTranslate="wizard.preview"></span>
        </ng-template>
        <div class="row mb-3">
            <div class="col-12 col-md-9">
                <div class="social-card-header col-12">
                    <h1>{{socialCard.title}} ({{socialCard.juridictionName}})</h1>
                    <p>{{'jestimeApp.socialCard.category' | translate}} : {{socialCard.categoryName}}</p>
                </div>
                <div class="col-12">
                    <mat-tab-group class="form-group longtext">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.general"></span>
                            </ng-template>
                            {{socialCard.general}}
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.description"></span>
                            </ng-template>
                            {{socialCard.description}}
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.procedure"></span>
                            </ng-template>
                            {{socialCard.procedure}}
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.recourse"></span>
                            </ng-template>
                            {{socialCard.recourse}}
                        </mat-tab>
                        <mat-tab *ngIf="socialCard.conditions.length > 0">
                            <ng-template mat-tab-label>
                                <span jhiTranslate="jestimeApp.socialCard.conditions"></span>
                            </ng-template>
                            <div *ngFor="let condition of socialCard.conditions; let i = index">
                                <h3>Condition n°{{i + 1}}</h3>
                                <p>{{condition.description}}</p>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th jhiTranslate="jestimeApp.conditionValue.variable">Variable</th>
                                        <th jhiTranslate="jestimeApp.conditionValue.operator">Opérateur</th>
                                        <th jhiTranslate="jestimeApp.conditionValue.value">Valeur</th>
                                        <th jhiTranslate="jestimeApp.conditionValue.source">Source juridique</th>
                                        <th jhiTranslate="jestimeApp.conditionValue.reference">Référence</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let val of condition.conditionValues">
                                        <td>{{val.variableName}}</td>
                                        <td>{{val.operatorName}}</td>
                                        <td>{{val.value}}</td>
                                        <td>{{val.reference.sourceTitle}}</td>
                                        <td *ngIf="val.reference.sourceUrl"><a href="{{val.reference.sourceUrl}}" target="_blank">{{val.reference.title}}</a></td>
                                        <td *ngIf="!val.reference.sourceUrl">{{val.reference.title}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class=" col-md-2 offset-md-1">
                <div class="col-12">
                    <div class="col-12 social-card-informations-container">
                        <h3 class="informations_title"><strong><span jhiTranslate="wizard.addresses"></span></strong></h3>
                        <div *ngFor="let address of newAddresses">
                            <p class="social-card-information">
                                {{address.name}} (NEW)
                            </p>
                        </div>
                        <div *ngFor="let address of selectedAddresses">
                            <p class="social-card-information">
                                {{address.name}}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 mt-3 social-card-informations-container">
                        <h3 class="informations_title"><strong><span jhiTranslate="wizard.sources"></span></strong></h3>
                        <div *ngFor="let source of newSources">
                            <p class="social-card-information">
                                {{source.title}} (NEW)
                            </p>
                        </div>
                        <div *ngFor="let source of selectedSources">
                            <p class="social-card-information">
                                {{source.title}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-secondary" mat-button matStepperPrevious jhiTranslate="entity.action.back">Back</button>
            <button class="btn btn-success" mat-button (click)="save()" jhiTranslate="entity.action.save">Enregistrer</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

