<div *ngIf="variable">
    <h1 mat-dialog-title jhiTranslate="jestimeApp.variable.creation">Création d'une variable</h1>
    <div mat-dialog-content>

        <div class="form-group">
            <label for="variableCode" jhiTranslate="jestimeApp.variable.code">Code</label>
            <input id="variableCode" required class="form-control" [(ngModel)]="variable.code" />
        </div>
        <div class="form-group">
            <label for="variableName" jhiTranslate="jestimeApp.variable.name">Nom</label>
            <input id="variableName" required class="form-control" [(ngModel)]="variable.name" />
        </div>
        <div class="form-group">
            <label for="variableType" jhiTranslate="jestimeApp.variable.type">Type</label>
            <select required id="variableType" class="form-control" [(ngModel)]="variable.typeId">
                <option *ngFor="let type of variableTypes" [ngValue]="type.id" >{{type.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="variableDescription" jhiTranslate="jestimeApp.variable.description">Description</label>
            <textarea id="variableDescription" [(ngModel)]="variable.description" class="form-control"></textarea>
        </div>
        <button class="btn btn-success" (click)="save()" jhiTranslate="entity.action.save">Valider</button>
    </div>
</div>
