<div>
    <h2>
        <span jhiTranslate="jestimeApp.variable.home.title">Variables</span>
        <button class="btn btn-primary float-right jh-create-entity create-variable" [routerLink]="['/', { outlets: { popup: ['variable-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jestimeApp.variable.home.createLabel">
            Create new Variable
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="variables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jestimeApp.variable.code">Code</span></th>
            <th><span jhiTranslate="jestimeApp.variable.name">Name</span></th>
            <th><span jhiTranslate="jestimeApp.variable.description">Description</span></th>
            <th><span jhiTranslate="jestimeApp.variable.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let variable of variables ;trackBy: trackId">
                <td><a [routerLink]="['../variable', variable.id ]">{{variable.id}}</a></td>
                <td>{{variable.code}}</td>
                <td>{{variable.name}}</td>
                <td>{{variable.description}}</td>
                <td>
                    <div *ngIf="variable.typeId">
                        <a [routerLink]="['../variable-type', variable.typeId  ]" >{{variable.typeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../variable', variable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'variable/'+ variable.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'variable/'+ variable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
