
<div *ngIf="variable">
    <h2><span jhiTranslate="jestimeApp.variable.detail.title">Variable</span> {{variable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jestimeApp.variable.code">Code</span></dt>
        <dd>
            <span>{{variable.code}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.variable.name">Name</span></dt>
        <dd>
            <span>{{variable.name}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.variable.description">Description</span></dt>
        <dd>
            <span>{{variable.description}}</span>
        </dd>
        <dt><span jhiTranslate="jestimeApp.variable.type">Type</span></dt>
        <dd>
            <div *ngIf="variable.typeId">
                <a [routerLink]="['/variable-type', variable.typeId]">{{variable.typeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'variable/'+ variable.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
